swagger: '2.0'
info:
  version: '1.0'
  title:  API Kit
schemes:
  - https
host: sensedia.com
basePath: /xxxx/v1
tags:
  - name: Kits
    description: Operations about kits.
  - name: Recommendation
    description: Operations about recommendations.
    
paths:
  /kits:
    post:
      tags:
        - Kits
      operationId: kits
      summary: Operation responsible for creating new Kits.
      consumes:
        - application/json
      parameters:
        - name: kit
          required: true
          in: body
          description: Kit to be created.
          schema:
            $ref: '#/definitions/KitRequest'
      responses:
        '201':
          description: Created.
          headers:
            location:
              type: string
              description: Resource to recover Kit.
        '404':
          description: Not Found
        '412':
          description: Precondition Failed
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        '500':
          description: Internal Server Error
  '/kits/{kitId}':
    parameters:
      - in: path
        name: kitId
        type: string
        required: true
        description: Kit Identifier
    get:
      tags:
        - Kits
      summary: Operation responsible for recovery an existing kit.
      operationId: kitById
      produces:
        - application/json
      responses:
        '200':
          description: Kit.
          schema:
            $ref: '#/definitions/Kit'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  '/kits/':
    parameters:
      - in: query
        name: phone
        type: string
        required: true
        description: Contact number of user.
    get:
      tags:
        - Kits
      summary: Operation responsible for recovery an existing kit.
      operationId: kitsByPhone
      produces:
        - application/json
      responses:
        '200':
          description: Kit.
          schema:
            $ref: '#/definitions/Kit'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  '/kits/{kitId}/':
    parameters:
      - in: path
        name: kitId
        type: string
        required: true
        description: Kit Identifier
    patch:
      tags:
        - Kits
      summary: Operation responsible for inform which recommendation the user purchased.
      operationId: partiallyUpdate
      consumes:
        - application/json
      parameters:
        - in: body
          name: recommendations
          description: Number to indicate which of the tree group of recommendation is chosen. If the user choose the first recommendation, the number 0 will be sent to the backend, for example. If the second was chosen, the number 1 will be sent. If the third was chosen, the number 2 will be sent.
          schema:
            $ref: '#/definitions/RecommendationPatchRequest'
            
      responses:
        '204':
          description: No Content.
        '404':
          description: Not Found.
        '412':
          description: Precondition Failed.
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        '500':
          description: Internal Server Error
  /recommendations:
    post:
      tags:
        - Recommendation
      operationId: createRecommendation
      summary: Operation responsible for creating the recommendations received.
      consumes:
        - application/json
      parameters:
        - name: recommendation
          required: true
          in: body
          description: Kit to be created.
          schema:
            $ref: '#/definitions/RecommendationRequest'
            
      responses:
        '201':
          description: Created.
          headers:
            location:
              type: string
              description: Resource to recover Kit.
        '404':
          description: Not Found
        '412':
          description: Precondition Failed
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        '500':
          description: Internal Server Error
          
definitions:
  Error:
    type: object
    properties:
      message:
        type: string
        description: Error message
    
  KitRequest:
    type: object
    properties:
      phone:
        type: string
        description: Contact number of user
        maxLength: 255
        example: 99999999999
      gender:
        type: string
        description: Gender of user
        enum:
          - F
          - M
      specifications:
        type: array
        items:
          $ref: '#/definitions/Specification'
          
  Specification:
    type: object
    description: The specification of a kit. It must contain one item of each enum type avaliable and with any color avaliable in the enum of colors.   
    required:
      - type
      - color
    properties:
      kitId:
        type: string
        description: Kit Identifier.
      type:
        type: string
        description: Type of an item.
        enum:
          - PANT
          - SHIRT
          - SHOES
      color:
        type: string
        description: Color of an item
        enum:
          - BLACK
          - BLUE
          - BROWN
          - GREEN 
          - GREY
          - ORANGE
          - PINK 
          - PURPLE
          - RED
          - WHITE
          - YELLOW

  Kit:
    type: object
    properties:
      kitId:
        type: string
        description: Kit Identifier
        example: 07c2ae28-79a9-4b4b-a906-5194315b17c8
      phone:
        type: string
        description: Contact number of user
        maxLength: 255
        example: 99999999999
      gender:
        type: string
        description: Gender of user
        enum:
          - F
          - M
      specifications:
        type: array
        items:
          $ref: '#/definitions/SpecificationResponse'
      firstRecommendations:
        type: array
        items:
          $ref: '#/definitions/RecommendationResponse'
      secondRecommendations:
        type: array
        items:
          $ref: '#/definitions/RecommendationResponse'
      thirdRecommendations:
        type: array
        items:
          $ref: '#/definitions/RecommendationResponse'
  
  SpecificationResponse:
    type: object
    description: The specification of a kit. It must contain one item of each enum type avaliable and with any color avaliable in the enum of colors.   
    required:
      - type
      - color
    properties:
      specificationId:
        type: string
        description: Specification Identifier
        example: 07c2ae28-79a9-4b4b-a906-5194315b17c8
      kitId:
        type: string
        description: Kit Identifier.
      type:
        type: string
        description: Type of an item
        enum:
          - PANT
          - SHIRT
          - SHOES
      color:
        type: string
        description: Color of an item
        enum:
          - BLACK
          - BLUE
          - BROWN
          - GREEN 
          - GREY
          - ORANGE
          - PINK 
          - PURPLE
          - RED
          - WHITE
          - YELLOW
  
  RecommendationResponse:
    type: object
    required:
      - recommendationId
      - type
      - color
      - title
      - price
      - link
      - image
      - date
      - chosen
    properties:
      recommendationId:
        type: string
        description: Specification Identifier
        example: 07c2ae28-79a9-4b4b-a906-5194315b17c8
      type:
        type: string
        description: Type of an item
        enum:
          - PANT
          - SHIRT
          - SHOES
      color:
        type: string
        description: Color of an item
        enum:
          - BLACK
          - BLUE
          - BROWN
          - GREEN 
          - GREY
          - ORANGE
          - PINK 
          - PURPLE
          - RED
          - WHITE
          - YELLOW
      title:
        type: string
        description: Recommendation tilte
        maxLength: 255
        example:  Recommendation A
      price:
        type: number
        description: Recommendation price
        example: 29.99
      link:
        type: string
        description: Recommendation website link
        maxLength: 255
        example: "https://www.websiteStore/itemRecommended"
      image:
        type: string
        description: Recommendation image
      date:
        type: string
        format: LocalTime
        description: Creation date
        example: "2019-05-29"
      chosen:
        type: boolean
        description: It determines whether the option was chosen.
        example: false
        
  RecommendationPatchRequest:
    type: object
    required:
      - recommendations
    properties:
      recommendations:
        description: List of Numbers representing the chosen group of recommendation.
        type: array
        items:
          $ref: '#/definitions/RecommendationPatch'
          
  RecommendationPatch:
    type: object
    description: Identifier of the chosen group of recommendation.
    properties:
      schema:
        $ref: '#/definitions/GroupRecommendationId'
  
  GroupRecommendationId:
    type: number
    description: Number representing the chosen group of recommendation.
    example: 1

  RecommendationRequest:
    type: object
    description: The recommendations sent by the crawler.
    properties:
      kitId:
        type: string
        description: Kit identifier.
        example: 07c2ae28-79a9-4b4b-a906-5194315b17c8
      recommendations:
        description: List of the tree cheapest group of recommendations selected.
        type: array
        items:
          $ref: '#/definitions/ItemsRecommendations'
      
  ItemsRecommendations:
    description: Items of each recommendations.
    type: array
    items:
        $ref: '#/definitions/Recommendation'
    
      
  Recommendation:
    type: object
    required:
      - recommendationId
      - type
      - color
      - title
      - price
      - link
      - image
      - date
      - kitGroup
      - chosen
    properties:
      recommendationId:
        type: string
        description: Specification Identifier
        example: 07c2ae28-79a9-4b4b-a906-5194315b17c8
      type:
        type: string
        description: Type of an item
        enum:
          - PANT
          - SHIRT
          - SHOES
      color:
        type: string
        description: Color of an item
        enum:
          - BLACK
          - BLUE
          - BROWN
          - GREEN 
          - GREY
          - ORANGE
          - PINK 
          - PURPLE
          - RED
          - WHITE
          - YELLOW
      title:
        type: string
        description: Recommendation tilte
        maxLength: 255
        example:  Recommendation A
      price:
        type: number
        description: Recommendation price
        example: 29.99
      link:
        type: string
        description: Recommendation website link
        maxLength: 255
        example: "https://www.websiteStore/itemRecommended"
      image:
        type: string
        description: Recommendation image
      date:
        type: string
        format: LocalTime
        description: Creation date
        example: "2019-05-29"
      kitGroup:
        type: number
        description: Identifier of one of tree recommendations. The 0 represents the fristRecommendations. The 1 represents the secondRecommendation. The 2 represents the thirdRecommendation.
        example:  1
      chosen:
        type: boolean
        description: It determines whether the option was chosen.
        example: false
  
  
  
  
  